[submodule "sabre"]
	path = java/sabre
	url = https://github.com/sgware/sabre
	branch = v0.8
[submodule "sabre-benchmarks"]
	path = java/sabre-benchmarks
	url = https://github.com/sgware/sabre-benchmarks
